<style type="text/css">
</style>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag 'lcware.png', :alt => "ElseWare", :id => "logo"  %>
      <nav>
        <ul class="nav pull-right">
            <li><%= link_to "Dashboard",  projects_path %></li>
            <li style="position: relative; left: -14px;" class="dropdown">
              <a href="#"  class="dropdown-toggle" data-toggle="dropdown" >
                  <b class="caret" style="font-size: 0;"></b>
              </a>
              <!-- Dashboard -->
              <!--suppress HtmlUnknownAttribute -->
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><%= link_to "games",      projects_path %>  </li>
                  <li><%= link_to "users",      projects_path %>
                  <li><%= link_to "sessions",   projects_path %>
                  <li><%= link_to "states",    projects_path %>
                  <li class="pull-right"><%= link_to "installed",    projects_path %>
                  <li class="pull-right"><%= link_to "homeless",    projects_path %>
              </ul>

          <li><%= link_to "Resume",     resume_path %></li>
          <li><%= link_to "Bio",        resume_path %></li>
          <li><%= link_to "My Blog",    myblog_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
