<% provide(:title, 'ElseW@re Home') %>

<h1 style="margin-bottom: 0; padding-bottom: 0">
ElseW@re - Lee Chastain's personal web site
</h1>
<span style="margin-left: 320px;">
    (for shameless self promotion)
</span>

<h4 style="margin-top: 40px;">
    For now - the
    <a href="/resume">
        resume
    </a>
    page is complete and of the most interest.
</h4>
<h5 style="margin-left: 20px;">
    When you go there, be sure to mouse over the text in each section; there are several<br>
    'easter eggs' throughout.  For example, when you find the US Navy Seal, see what<br>
    happens when you click there.  Another click (afterwards) is also useful.
</h5>

<h4 style="margin-top: 30px;">
    For later -
</h4>
<h5 style="margin-left: 20px;">
    I am currently working on adding code examples and apps from various past <br>
    programming projects, but this RoR site is already one example in itself.<br>
    Till then - here are some screen shots from some of those apps:
</h5>

<div style="height: 30px;"></div>

<%= image_tag('ukodus_x.png') %>
<%= image_tag('colt_radio.png') %>
<%= image_tag('perslog_5.png') %>
<%= image_tag('acro.png') %>
<%= image_tag('stratmap.jpg') %>
