<% provide(:title, 'ElseW@re Home') %>

<h1 style="margin-bottom: 0; padding-bottom: 0">
ElseW@re - Lee Chastain's personal web site
</h1>
<span style="margin-left: 320px;">
    (for shameless self promotion)
</span>

<h4 style="margin-top: 40px;">
    For now - the resume page is complete and of the most interest.
</h4>

<h4 style="margin-top: 30px;">
    For later - I am currently working on adding code examples and<br>
    apps from various past programming projects, but this RoR site<br>
    is already one example in itself.  Till then - here are some screen<br>
    shots from some of those apps:
</h4>

<%= image_tag('ukodus_x.png') %>
<%= image_tag('colt_radio.png') %>
<%= image_tag('perslog_5.png') %>
<%= image_tag('acro.png') %>
<%= image_tag('stratego.jpg') %>
